@import "src/styles/mixins";

.container {
  min-height: 150px;
  width: 100%;
  max-width: 500px;
  background-color: rgb(225, 227, 229);
  padding: 10px;
  box-shadow: 10px 5px 5px #dad3d3;

  .title_container {
    display: flex;
    justify-content: center;
    margin: 5px 5px 10px 5px;

    .title {
      @include typography($fs: 40px, $lh: 40px, $fw: 700);
    }

  }

  .container_tasks {
    background-color: #ffffff;
    padding: 5px;

    .input_container {
      position: relative;
      padding-left: 5px;

      .input {
        @include typography($fs: 20px, $lh: 25px, $fw: 400);

        width: 100%;
        margin-left: 5px;
        font-family: "Nunito", sans-serif;
      }

      .vector {
        position: absolute;
        right: 10px;
        top: 23px;
      }

    }

    .button_container {
      margin: 10px 5px 5px 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .items{
        @include typography($fs: 18px, $lh: 25px, $fw: 400);
        margin-right: 20px;
        display: block;
      }
      .buttons_group{
        display: flex;
        gap: 10px;
        .button {
          @include typography($fs: 14px, $lh: 20px, $fw: 400);
          padding: 6px 8px;
          font-family: "Nunito", sans-serif;
        }
      }


    }
  }
}






