.container{
    min-height: 150px;
    width: 400px;
    background-color: rgb(225, 227, 229);
    padding: 10px;
    box-shadow: 10px 5px 5px #dad3d3;
}
.container_tasks{
    background-color: #ffffff;
    padding: 5px;
}
.input{
    width: 100%;
    margin-left: 5px;
}
.vector{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    bottom: 13px;
}
.input_container{
    position: relative;
    padding-left: 5px;
}
.button_container{
    margin: 10px 5px 5px 5px;
    display: flex;
    justify-content: space-evenly;
}

.button{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.title{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
}
.title_container{
    display: flex;
    justify-content: center;
    margin: 5px 5px 10px 5px;
}
