
.title{
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-left: 5px;
}
.task_container{
    display: flex;
    align-items: center;
    margin: 5px 0 5px 0;
    border-bottom: 1px solid #eee7e7;
}

